/* UI standard look CSS */


.ui-std-style-description {
	 border: 1px solid black; 
	 display: block; 
	 white-space: normal; 
	 margin: 10px; padding: 10px; 
	 text-align: justify; 
	 width: 25em; 
}


/* Defaults */
BODY, INPUT, TD, SELECT, TEXTAREA, A { font-family: Verdana; font-size: 11px; }
BODY { color: #000000; }

/* UiStd link */
A { color: #5B5B5B; font-size: 11px; }
A.ui-std-link-default { text-decoration: none }
A.ui-std-link-default:hover { text-decoration: underline }
A.ui-std-link-disabled-default { text-decoration: none; cursor: pointer; }
A.ui-std-link-disabled-default:hover { text-decoration: none; cursor: pointer; }

A.ui-std-link-menu { text-decoration: none; color: #FFFFFF }
A.ui-std-link-menu:hover { text-decoration: underline; }
A.ui-std-link-disabled-menu { text-decoration: none; cursor: default; }
A.ui-std-link-disabled-menu:hover {text-decoration: none; cursor: default; }
A.ui-std-link-disabled-menu-active { text-decoration: underline; cursor: default;}
A.ui-std-link-disabled-menu-active:hover {text-decoration: underline; cursor: default;}

/* UiStd layout */
.ui-std-layout-table-default { width: 100%; border-collapse: collapse }
.ui-std-layout-row-default {}
.ui-std-layout-cell-default { vertical-align: top; text-align: left; white-space: nowrap; padding: 0px; }

.ui-std-layout-table-debug { border-collapse: collapse; border: thin ridge }
.ui-std-layout-row-debug {}
.ui-std-layout-cell-debug { vertical-align: top; text-align: left; white-space: nowrap; padding: 0px; border: thin ridge; }

.ui-std-layout-table-pagemenu { border-collapse: collapse }
.ui-std-layout-row-pagemenu {}
.ui-std-layout-cell-pagemenu { font-size: 10px; color: #333333; white-space: nowrap; vertical-align: middle; text-align: left; padding: 0px }
.ui-std-layout-cell-pagemenu A { font-size: 10px; color: #333333 }

.ui-std-layout-table-range { border-collapse: collapse; margin: -1px }
.ui-std-layout-row-range {}
.ui-std-layout-cell-range { padding: 1px; white-space: nowrap; vertical-align: top; text-align: left }

.ui-std-form-layout-table-default { border-collapse: collapse; }
.ui-std-form-layout-row-default { color: #333333; }
.ui-std-form-layout-row-default A.ui-std-link-default { text-decoration: underline; color: #333333; }
.ui-std-form-layout-cell-default { padding: 5px; white-space: nowrap; vertical-align: middle; text-align: left;  }
.ui-std-form-layout-cell-center { padding: 5px; white-space: nowrap; vertical-align: middle; text-align: center; }
.ui-std-form-layout-cell-label { padding: 5px; white-space: nowrap; vertical-align: middle; text-align: right; font-size: 11px; font-weight: bold; color: #5B5B5B }
.ui-std-form-layout-cell-thin { padding: 0px; white-space: nowrap; vertical-align: top; text-align: left }

.ui-std-list-layout-table-default { border-color: #CCCCCC; border-width: 1px; border-style: solid; border-collapse: collapse; background: #EEEEEE;}
.ui-std-list-layout-row-default { background: #FFFFFF; behavior:url(lib/table.htc); }
.ui-std-list-layout-row-default A.ui-std-link-default { text-decoration: underline; color: #333333; }
.ui-std-list-layout-cell-default { white-space: nowrap; border-color: #EEEEEE; border-width: 0px 0px 1px 1px; border-style: solid; vertical-align: top; font-size: 11px; color: #333333; padding-top: 5px ; padding-bottom: 5px; padding-right: 3px; padding-left: 3px; }
.ui-std-list-layout-cell-center { text-align: center; white-space: nowrap; border-color: #EEEEEE; border-width: 0px 0px 1px 1px; border-style: solid; vertical-align: top; font-size: 11px; color: #333333; padding-top: 5px ; padding-bottom: 5px; padding-right: 3px; padding-left: 3px; }
.ui-std-list-layout-row-filter { vertical-align: top; background: #FAFAFA; }
.ui-std-list-layout-cell-filter { white-space: nowrap; border-color: #EEEEEE; border-width: 0px 0px 1px 1px; border-style: solid; text-align: left; padding: 3px; }
.ui-std-list-layout-cell-filter-center { white-space: nowrap; border-color: #EEEEEE; border-width: 0px 0px 1px 1px; border-style: solid; text-align: center; padding: 3px; }
.ui-std-list-layout-row-title { background: #FFFFFF; }
.ui-std-list-layout-cell-title { white-space: nowrap; border-color: #EEEEEE; border-width: 0px 0px 1px 1px; border-style: solid; height: 25px; vertical-align: middle; padding: 0px; text-align: left; font-size: 10px; font-weight: bold; color: #4F4F4F; text-decoration: none; padding-right: 5px; padding-left: 5px; background-image: url(../gfx/bg16.gif); border-bottom: 1px solid #CCCCCC; }

/* Presentation */
.ui-std-image-default { vertical-align: middle; border: 0; }

.ui-std-button-default { background-color: #5D8DC7; font-family: Tahoma; font-size: 9px; border: 1px solid #3E8AE1; padding: 3px; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FF4E9DF7', EndColorStr='#FF387FD4'); font-weight: bold; color: #FFFFFF; }

.ui-std-style-system-title { font-family: Arial; font-size: 14px; font-weight: bold; color: #AE001F; text-decoration: none; }
.ui-std-style-list-info { font-size: 10px; }
.ui-std-style-list-info A { font-size: 10px; text-decoration: underline; }

/* UiStd form */
.ui-std-form-element-label-asterisk-default { font-size: 11px; font-weight: bold; color: #FF0000 }
.ui-std-form-element-label-default {}

.ui-std-form-text-input-default { font-size: 10px; color: #333333; }
.ui-std-form-textarea-default { font-size: 10px; color: #333333; }

.ui-std-form-select-default { font-size: 10px; color: #333333; }
.ui-std-form-multiselect-default { font-size: 10px; color: #333333; }

.ui-std-form-date-input-default { font-size: 10px; color: #333333; }
.ui-std-form-time-input-default { font-size: 10px; color: #333333; }
.ui-std-calendar-button { background-image: url(../gfx/ico_calendar.gif); width: 19px; height: 18px; cursor: pointer; border: 0px }

.ui-std-form-checkbox-default { font-size: 10px; color: #333333; }

.ui-std-form-file-upload-default { font-size: 10px; color: #333333; }

/* some custom classes */
.test-button { background-color: #FF0000; font-family: Tahoma; font-size: 9px; border: 1px solid #3E8AE1; padding: 3px; font-weight: bold; color: #FFFFFF; }
.messages-default {
	border: 1px solid #E2D787;
	background: #FDFCF7;
	color: #7C6E0C;

	width: 50%;
    height: auto;
    visibility: visible;
	margin-bottom: 15px;
	padding: 10px;
	line-height: normal; 
}
