#aranea-loading-message {
	position: fixed;
	top: 0;
	right: 0;
	color: white;
	background-color: #e01601;
	border: 1px solid black;
	width: 100px;
	heigth: 50px;
	padding-left: 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
}