#aranea-loading-message {
	position: fixed;
	top: 0px;
	right: 0px;
	color: #ffffff;
	background-color: #e01601;
	border: 1px solid black;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	white-space: nowrap;
}